XMLParser/build/**/*
XMLParser/build*
DataDisplayLeft/build/**/*
gui/build/**/*
gui-setup/build/**/*
/DataDisplayLeft/nbproject/private/
/XMLParser/nbproject/private/
/Parser/build/**/*
/Parser/nbproject/private/
