XMLParser/build/**/*
XMLParser/build*
DataDisplayLeft/build/**/*
DataDisplayLeft/build.xml

gui/build
gui/build/**/*
gui/dist
gui/dist/**/*
gui/nbproject/private/

gui-setup/build
gui-setup/nbproject/*
gui-setup/build/**/*

/DataDisplayLeft/nbproject/private/
DataDisplayLeft/*
/XMLParser/nbproject/private/
/Parser/build/**/*
/Parser/nbproject/private/

/Parser/build/
/gui/nbproject/private/
/gui/build/
/gui/dist/
/gui/nbproject/build-impl.xml
/gui/nbproject/genfiles.properties
*.DS_Store
/gui/src/resource/back_to_details.psd
/gui/src/resource/back_to_overview.psd
/gui/src/resource/setup.psd